.count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.count-container button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.count-container button:hover {
    background-color: #cc0000;
}

.contador {
    margin: 0 10px;
    font-size: 18px;
    color: #333;
}

.boton-agregar {
    display: block;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    text-align: center;
}

.boton-agregar:hover {
    background-color: #cc0000;
}
