.item-detail {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 4px;
}

.item-name {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.item-price {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.item-id {
    color: #666;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.item-description {
    color: #777;
    margin-bottom: 0.5rem;
}

.item-image {
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}